---
---
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Medical HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/style.css">
    	<link rel="stylesheet" href="assets/css/customFont.css">

    
</head>
<body>
    <!-- ? Preloader Start -->
    {% include preloader.html %}
    <!-- Preloader Start -->
<header>
    <!--? Header Start -->
    {% include header.html %}
    <!-- Header End -->
</header>
<main>
    <!--? department_area_start  -->
    <div class="department_area section-padding2">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <h2>Our Approach</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="depart_ment_tab mb-30">
                        <!-- Tabs Buttons -->
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    <i class="icon-CBT2"></i> 
                                    <h4>CBT</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                    <i class="icon-ERP"></i>
                                    <h4>ERP for OCD</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="icon-ACT"></i>
                                    <h4>ACT</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#Astrology" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="icon-DBT"></i>
                                    <h4>DBT</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Neuroanatomy-tab" data-toggle="tab" href="#Neuroanatomy" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="icon-icbt"></i>
                                    <h4>I-CBT</h4>
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dept_main_info white-bg">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>What is CBT?</h3>
                                    <p>Cognitive Behavioral Therapy (CBT) is a structured, goal-oriented talk therapy that helps people identify and change unhelpful thinking patterns and behaviors to improve their mood and functioning. It works on the principle that our thoughts, feelings, and behaviors are interconnected, and by adjusting negative or distorted thoughts, individuals can develop healthier responses to life's challenges, proving effective for depression, anxiety, PTSD, eating disorders, and more.</p>
                                    <a href="#" class="dep-btn">Contact Us<i class="ti-arrow-right"></i></a>                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/treatments/cbt.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>What is ERP?</h3 >
                                    <p>ERP (Exposure and Response Prevention) is the most effective, gold-standard behavioral therapy for OCD, involving gradually facing your obsessive triggers (Exposure) without performing compulsions (Response Prevention) to break the anxiety cycle, teaching your brain the feared outcome isn't as dangerous as it seems, reducing distress over time, and building tolerance. It's a structured, evidence-based method under Cognitive Behavioral Therapy (CBT) where a therapist guides you to confront fears (like touching something contaminated) and resist the urge to wash hands or seek reassurance, allowing anxiety to naturally decrease.  </p>
                                    <a href="#" class="dep-btn">Contact Us<i class="ti-arrow-right"></i></a>                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department_man.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>What is ACT?</h3 >
                                    <p>Assertive Community Treatment is a comprehensive, team-based model for adults with severe mental illnesses (like schizophrenia or bipolar disorder) who need intensive support but not hospitalization, providing care in the community (homes, work) 24/7, integrating treatment (meds, therapy, substance abuse), life skills, vocational help, and peer support to promote independence and recovery</p>
                                    <a href="#" class="dep-btn">Contact Us<i class="ti-arrow-right"></i></a>                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department_man.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Astrology" role="tabpanel" aria-labelledby="Astrology-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>What is DBT</h3 >
                                    <p>Dialectical Behavior Therapy (DBT) is a highly structured, evidence-based talk therapy (psychotherapy) based on Cognitive Behavioral Therapy (CBT), designed for intense emotional dysregulation, especially for Borderline Personality Disorder (BPD) and chronic suicidality, teaching skills like mindfulness, distress tolerance, emotion regulation, and interpersonal effectiveness to help people build a life worth living by balancing acceptance and change. It combines individual therapy, group skills training, phone coaching, and homework, extending its use to PTSD, eating disorders, and substance use.</p>
                                    <a href="#" class="dep-btn">Contact Us<i class="ti-arrow-right"></i></a>                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department_man.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Neuroanatomy" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                        <!-- single_content  -->
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-7">
                                <div class="dept_info">
                                    <h3>What is I-CBT</h3 >
                                    <p>
i-CBT (Inference-Based Cognitive Behavioral Therapy) is a specialized, evidence-based treatment primarily for Obsessive-Compulsive Disorder (OCD), differing from standard CBT by targeting the faulty reasoning that creates obsessional doubts, not just the fear or consequences. It helps individuals recognize "inferential confusion" (mixing imagination with reality) and distrust of senses, teaching them to differentiate normal doubt from obsessional doubt to resolve the core problem, thereby reducing anxiety and compulsions. </p>
                                    <a href="#" class="dep-btn">Contact Us<i class="ti-arrow-right"></i></a>                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="dept_thumb">
                                    <img src="assets/img/gallery/department_man.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- single_content  -->
                    </div>
                    <div class="tab-pane fade" id="Blood" role="tabpanel" aria-labelledby="Blood-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- department area_end  -->
    </main>
    <footer>
        {% include footer.html %}
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    
    </body>
</html>