---
---
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Trusted Care - What We Treat </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
        <!-- ? Preloader Start -->
{% include preloader.html %} 

    <!-- Preloader Start -->
<header>
    <!--? Header Start -->
    {% include header.html %} 

    <!-- Header End -->
</header>
<main>
    <!--? Team Start -->
    <div class="team-area mb-200">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-100">
                        <span>Specialties</span>
                        <h2>What We Treat</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single Tem -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <a href="issues/anxiety.html" class="fill-div">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/Anxiety%20Disorders.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Anxiety Disorders</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                    </a>    
                </div>
                    
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <a href="issues/depression.html" class="fill-div">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/Depression.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="issues/depression.html">Depression</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                    </a>
                </div>
                
                <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                    <a href="issues/ocd.html" class="fill-div">

                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/ocd.png" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="issues/ocd.html">Obsessive-Compulsive Disorder (OCD)</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                    </a>
                </div>
                
                
                <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                    <a href="issues/adhd.html" class="fill-div">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/ADHD.png" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Attention Deficit HyperactivityDisorder (ADHD)</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                    </a>
                </div>
                 <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/sb.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Shalom Bayis and Dating</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                </div>
                   <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/anxiety.png" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Anxiety/Stress</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                </div>
                <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/burnout.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Stress and Burnout </a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                </div>
                
                <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                      <a href="#" class="fill-div">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/school.jpg" alt="" >
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">School Anxiety/Stress</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div> 
                    </div>
                    </a>
                </div>
                
                <div class="col-xl3 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/Disorders/ocdp.png" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Perfectionism/OCPD</a></h3>
                            <span>LEARN MORE</span>
                            <!-- Team social -->
                        </div>
                    </div>
                </div>
            
                
                
                
            </div>
        </div>
    </div>
    <!-- Team End -->
    </main>
    <footer>
        <!--? Footer Start-->
        {% include footer.html %} 

        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    
    </body>
</html>