    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="{{ append:'#b' |include.number | default:'' }}">
          {{ include.title | default:'' }}
        </button>
      </h2>
      <div id="{{ append:'b' |include.number | default:'' }}" class="accordion-collapse collapse " data-bs-parent="#blueAccordion">
        <div class="accordion-body">
          {{ include.main | default:'' }}
        </div>
      </div>
    </div>