<div class="container">
  <div class="step-number">{{ include.step }}</div>
  <h2>{{ include.data.title }}</h2>

  {% for section in include.data.sections %}

  <div class="section">
    {% if section.title %}
    <h3>{{ section.title }}</h3>
    {% endif %} {% for row in section.rows %}
    <div class="row">
      {% for field in row.fields %}
      <div class="field-wrapper" style="flex: {{ field.flex | default: 1 }}">
        {% if field.label %}
        <label>{{ field.label }} {% if field.required %} <span style="color: red">*</span> {% endif %} </label>
        {% endif %} {% if field.type == "select" %}
        <select name="{{ field.name }}" {% if field.required %}required{% endif %} id="{{ field.name | replace: '.', '_' }}">
          <option value="" disabled selected>Select...</option>
          {% for opt in field.options %}
          <option value="{{ opt }}">{{ opt }}</option>
          {% endfor %}
        </select>

        {% elsif field.type == "textarea" %}
        <textarea
          name="{{ field.name }}"
          {% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %}
          id="{{ field.name | replace: '.', '_' }}"
          {% if field.required %}required{% endif %}></textarea>

        {% elsif field.type == "yesno_with_details" %}
        <div style="display: flex; gap: 10px">
          <select
            name="{{ field.name }}"
            id="{{ field.name | replace: '.', '_' }}"
            class="yesno-trigger"
            data-details="{{ field.detailsName }}"
            style="flex: 1"
            {% if field.required %}required{% endif %}>
            <option>Select...</option>
            <option>Yes</option>
            <option>No</option>
          </select>

          <input
            type="text"
            name="{{ field.detailsName }}"
            id="{{ field.detailsName | replace: '.', '_' }}"
            placeholder="{{ field.placeholder | default: 'If yes, details' }}"
            style="flex: 2"
            disabled />
        </div>

        {% elsif field.type == "empty" %} {% else %}
        <input
          type="{{ field.type | default: 'text' }}"
          name="{{ field.name }}"
          id="{{ field.detailsName | replace: '.', '_' }}"
          {% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %}
          {% if field.required %}required{% endif %} />
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <!-- spacing between sections -->
  <div class="row"></div>

  {% endfor %}
</div>

<!-- spacing between containers -->
<div class="row"></div>