---
---

<!doctype html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Trusted Care Psychiatry - OCD</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />

    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/css/slicknav.css" />
    <link rel="stylesheet" href="../assets/css/flaticon.css" />
    <link rel="stylesheet" href="../assets/css/gijgo.css" />
    <link rel="stylesheet" href="../assets/css/animate.min.css" />
    <link rel="stylesheet" href="../assets/css/animated-headline.css" />
    <link rel="stylesheet" href="../assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="../assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../assets/css/slick.css" />
    <link rel="stylesheet" href="../assets/css/nice-select.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/custom.css" />
  </head>

  <body>
    <!-- ? Preloader Start -->
    {% include preloader.html %}
    <!-- Preloader Start -->
    <header>
      <!--? Header Start -->
      {% include header.html source='../' %}

      <!-- Header End -->
    </header>
    <main>
                <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                      <h2>OCD</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      <div class="team-area mb-200">
        <div class="container">
          <!-- Section Tittle -->

          <div class="container py-4">
            <div class="accordion my-blue-accordion" id="blueAccordion">
              {% include accordion.html number='2' title='Checking OCD' main='Checking OCD is characterized by repeated checking behaviors driven by fear that something bad will happen if things aren’t verified repeatedly. This may include checking locks, appliances, emails, doors, or tasks “just in case.” Even when someone knows they already checked, the doubt feels overwhelming. Treatment helps reduce anxiety and regain trust in one’s memory and safety.' %}
              {% include accordion.html number='3' title='Contamination OCD' main='Contamination OCD involves intense fear of germs, illness, dirt, or “being contaminated,” leading to compulsions like excessive cleaning, washing, or avoidance of places or people. These fears feel very real and distressing, often taking over daily life. With the right help, people can reduce fear and regain comfort in everyday environments.' %}
              {% include accordion.html number='14' title='Religious OCD / Scrupulosity' main='Scrupulosity involves intense fear of being spiritually wrong, sinful, or morally flawed, leading to compulsive prayer, confession, checking, or avoidance of religious situations. These fears feel deeply distressing and can interfere with religious life rather than support it. Treatment helps reduce anxiety while respecting personal faith and values.' %}
              </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!--? Footer Start-->
      {% include footer.html source='../' %}
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <script src="../assets/js/waypoints.min.js"></script>
    <script src="../assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>

    <!-- Custom drops-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>